{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add new student</h4>
        <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
</form>
    </div>
    <div class="col-sm-7 offset-1">
        <h4 class="text-center alert alert-info">Show Student Information</h4>
        {% if stu %}
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Roll No</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
        <tbody>
            {%for i in stu %}
                <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.roll_no}}</td>
                <td>
                    <a href="{% url 'updatedata' i.id %}" class="btn btn-warning">Edit</a>
                    <form action="{% url 'deletedata' i.id%}" method="post" class="d-inline"> {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
            <h4 class="text-center alert alert-warning>No Records found</h4>
        {% endif %}
    </div>
</div>
{% endblock content %}