<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",
    initial-scale="1.0">
    <title>CRUD APP</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-warning">Student Registration Form</h2>
        {% block content %}{% endblock content%}
    </div>
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/popper.js' %}"></script>
    <script src="{% static 'enroll/js/bootstrap.min.js' %}"></script>
</body>
</html>